<!DOCTYPE:html>
<html>
<head><title>Header></title></head>
<body>
<p>
<div><script async src="https://cse.google.com/cse.js?cx=010267784856595489876:g2m8uipck40"></script></div>
<div class="gcse-search"></div>
<p>
<a href="https://njsch.github.io/">Nathaniel Schmidt</a>
<br>
<h1>Navigation:</h1>
<ul>
<li><a href="/index.html/">Home</a>
<li><a href="/about/">WHERE AM I?! (About This Site)</a>
<li><a href="/repos/">My Repositories</a>
<li><a href="/1689lbc/">The 1677-89 (2nd) London Baptist Confession of Faith (2LBCF)</a>
<li><a href="/contact/">Contact Me</a>
</ul>
</body>
</html>